.container {
  min-height: 850px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .searchBar {
    width: 90%;
    display: flex;
    gap: 10px;
    margin-top: 20px;

    .searchInput {
      width: 90%;
      border: 1px solid white;
      border-radius: 20px;
      color: white;
      background: #ffffff00;
      font-family: "SpaceHorse", sans-serif;
      outline: white;
      padding: 0 20px;
    }
  }

  .countHorses {
    margin-top: 50px;
    font-family: 'SpaceHorse';
    font-size: 30px;
    color: #fff;
  }

  .cardHorses {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    @media screen and (max-width: 920px) {
      flex-direction: column;
    }

    /*
    @media (min-width: 1200px) {
      margin-left: -130px;


      .card {
        scale: 0.6;
        width: 350px;
        height: 260px;
        margin-right: 40px;
      }
    }

    @media (min-width: 1300px) {
      margin-left: -180px;


      .card {
        scale: 0.6;
        width: 350px;
        height: 260px;
        margin-right: 60px;
      }
    }

    @media (min-width: 1400px) {
      margin-left: -230px;


      .card {
        scale: 0.6;
        width: 25vw;
        height: 40vh;
        margin-right: 60px;
      }
    }

    @media (min-width: 1900px) {
      margin-left: -230px;


      .card {
        scale: 0.6;
        width: 28vw;
        height: 45vh;
        margin-right: 60px;
      }
    }
    */

    .addHorse {

      @media screen and (max-width: 920px) {
        width: 97vw;
        height: 60vw;
        font-size: 4.5vw;
      }

      width: 46vw;
      height: 29vw;
      padding: 1vw;
      background-image: url('/assets/game/horses/horse-card.png');
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      cursor: pointer;
      text-align: center;
      color: white;
      font-size: 2.5vw;
      line-height: 0.8;

      .addHorseWrapper {

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        padding: 0 6vw;

        .plusHorse {
          font-weight: bold;
          font-size: 5vw;
          margin-bottom: 5px;
        }

        .addHorseText {
          /* mantém seu estilo existente */
          font-family: 'UpheavalPro';
          font-size: 2.2vw;
          text-align: center;
          /* ... etc ... */

          .addHorseLink {
            color: #fff; // branco puro
            text-decoration: none; // remove sublinhado
            display: inline-block; // para poder ajustar padding/margin se quiser

            &:hover,
            &:focus {
              color: #fff; // garante que no hover fique branco também
              text-decoration: none;
            }
          }
        }
      }

      &:hover {
        background-image: url('/assets/game/horses/horse-card-mouse.gif');
      }
    }

    .pagination {
      z-index: 100;
      position: absolute;
      bottom: 0;
    }
  }
}